/* footer link */
a:link, a:visited {
    color: #fefefe; /* off white */
}

a:hover, a:active {
    color: #0000ff; /* blue */
}

/* footer */
.footer {
    text-align: center;
    align-items: center;
    font-size: 25px;
    padding: 30px;
}