/*search bar*/
.searchBar {
    float: left;
    display: block;
    background-color: #151515;
    display: flex;
    text-align: center;
    padding-right: 235px;
    font-size: 20px;
}

/*nav bar*/
.navbar {
    font-size: 25px;
}